<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd ">

	<context:component-scan base-package="com.setine.controller" />
	<util:properties id="text_kr"
		location="/WEB-INF/resources_txt/text_kr.xml" />
	<context:property-placeholder
		properties-ref="text_kr" />
	<util:properties id="text_en"
		location="/WEB-INF/resources_txt/text_en.xml" />
	<context:property-placeholder
		properties-ref="text_jp" />
	<util:properties id="text_jp"
		location="/WEB-INF/resources_txt/text_jp.xml" />
	<context:property-placeholder
		properties-ref="text_jp" />
	<!-- 에러 처리 <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> 
		<property name="exceptionMappings"> <props> <prop key="java.lang.Exception">error</prop> 
		<prop key="ExceptionBase">error</prop> </props> </property> </bean> -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views_main/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:resources mapping="/resources/**" location="/resources/" />

	<mvc:annotation-driven conversion-service="conversionService" />

	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">

		<property name="converters">
			<list>
				<bean id="roleToUserProfile"
					class="com.setine.springsecurity.util.RoleToUserProfileConverter" />
			</list>
		</property>
	</bean>

</beans>