body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: white;
  color: black;


.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
        height: 50px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 50px;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

a.list-group-item.list-group-item.category {
padding: 4px 4px 4px 4px; 
	font-size:11px;
}
TD.category {
padding: 5px 5px 5px 5px; 
width: 50%;
}

TD.categoryu {
padding: 5px 5px 5px 5px; 
width: 25%;
text-align: center;
}
TD.categoryus {
padding: 5px 5px 5px 5px; 
width: 20%;
text-align: center;
}

.form-control2 {
    width: 10%;
    height: 34px;
    padding: 6px 12px;
    font-size: 10px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

TD {
	font-size:14px;
    padding: 8px;
    line-height: 1.42857143;
}
TH {
	font-size:14px;
    padding: 8px;
}


TD.itemdetail {
	font-size:14px;
	text-align: left;
}
TH.itemdetail {
	font-size:14px;
	text-align: center;
	width: 20%;
}

@media (min-width: 1000px) { 
    #navigationfixed{
        position: fixed;
		width: 17%;
	}
}

.item.mobile {
	padding-left: 0px;
	padding-right: 0px;
}



.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle;
}

.my_class {
	text-align: center;
}

.my_class_30 {
	text-align: center;
	width:30%;
}

.my_class_33 {
	width:33%;
}

.my_class_40c {
	text-align: center;
	width:40%;
}
.my_class_20c {
	text-align: center;
	width:20%;
}
.my_class_40 {
	width:40%;
}
.my_class_60 {
	width:60%;
}


.my_class1 {
	padding: 6px 50px;
}

TD.my_class_normal {
	width:50%;
}

.blue.item {
	color: #5990ff;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.white.item {
	color: #f3f3f3;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.black.item {
	color: black;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}
.purple.item {
	color: #d789b6;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}
.green.item {
	color: #c0ffc0;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}


.pink.item {
	color: #d789b6;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.purple.item {
	color: #b38cff;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wblue.item {
	color: #3477fe;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wwhite.item {
	color: #f3f3f3;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wgreen.item {
	color: #05aa05;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wpink.item {
	color: #e161ab;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wpurple.item {
	color: #925bfe;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wblack.item {
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}

.uni.item1 {
	color: #cccccc;
	margin-top: 0px;
	margin-bottom: 10px;
}
.uni.item2 {
	color: #cccccc;
	margin-top: 10px;
	margin-bottom: 0px;
}

.nametext0 {
	color: #cccccc;
	margin-top: 0px;
	margin-bottom: 0px;
}

.nametext {
	color: #cccccc;
	margin-top: 10px;
	margin-bottom: 10px;
}

.normaltext.ma0.white {
	color: #cccccc;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.normaltext.ma0.blue {
	color: #73bfe6;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}



.normaltext.ma0.whites {
	color: #cccccc;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.normaltext.ma0.nocolor {
	margin-top: 0px;
	margin-bottom: 0px;
}

.well.well-xs.clearfix.mine {
	background:url(../images/body.png) repeat left top;
	background-color: #000000;
	margin-bottom: 0px;
}

.background.mine {
	background:url(../images/body.png) repeat left top;
	background-color: #000000;
	margin-bottom: 0px;
}

.reflection.frame {
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height:100%;
}

.reflection.frame2 {
	position: absolute;
}

.well {
	background-image: webkit linear gradient(top, #000000, #000000 100%);
	filter: grayscale(50%);
}

.detail.body.text {
	color: #bfb097;
	padding-left: 10px;
	padding-right: 0px;
	text-align: right;
}

.detail.body.text.pa0 {
	color: #bfb097;
	padding-left: 10px;
	padding-right: 0px;
	text-align: right;
}
.detail.body.text.mobile {
	color: #bfb097;
	padding-left: 10px;
	padding-right: 0px;
	text-align: left;
	background: url('../images/para_bar2.png') repeat-x right bottom;
}

.item.detail.warp {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.detail.body.parameter {
	color: #cccccc;
	background: url('../images/parameter_bar.png') no-repeat right bottom;
	padding-left: 10px;
	padding-right: 0px;
	text-align: right;
}

.detail.body.parameter.pa0 {
	color: #cccccc;
	background: url('../images/parameter_bar.png') no-repeat right bottom;
	padding-left: 10px;
	padding-right: 0px;
	text-align: right;
}

.detail.body.mobile {
	color: #cccccc;
	padding-left: 10px;
	padding-right: 0px;
	text-align: right;
	background: url('../images/para_bar2.png') repeat-x right bottom;
}

.detail.body.none.parameter {
	color: #cccccc;
	padding-left: 10px;
	padding-right: 0px;
	text-align: right;
	background: none;
}

.detail.body.none.parameter.pa0 {
	color: #cccccc;
	padding-left: 10px;
	padding-right: 0px;
	text-align: right;
	background: none;
}

.detail.body.none.text.mobile {
	color: #bfb097;
	padding-left: 10px;
	padding-right: 0px;
	text-align: left;
	background: none;
}

.detail.body.none.mobile {
	color: #cccccc;
	padding-left: 10px;
	padding-right: 0px;
	text-align: right;
	background: none;
}

.item.margin10 {
	margin-bottom: 10px !important;
	padding-left: 0px;
	padding-right: 0px;
}

.item.margin5 {
	margin-bottom: 5px !important;
	padding-left: 0px;
	padding-right: 0px;
}

.item.margin0 {
	margin-bottom: 0px !important;
	padding-left: 0px;
	padding-right: 0px;
}

.margin0 {
	margin-bottom: 0px !important;
	padding-left: 0px;
	padding-right: 0px;
	color: #cccccc;
}

.margin5.color {
	color: #bbac94;
}

.margin5.whitecolor {
	color: #cccccc;
}

.margin10 {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 10px !important;
}

.margin15 {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 15px !importnat;
}

.margin20 {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 20px !important;
}

.clearfix.item.detail {
	margin-bottom: 5px !important;
	padding-left: 0px;
	padding-right: 0px;
}

.clearfix.item.detail.parameter {
	margin-bottom: 0px !important;
	padding-left: 0px;
	padding-right: 0px;
}

.clearfix.item.uppername {
	color: #666666;
	padding-left: 0px;
	padding-right: 0px;
}

h4.parameter {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 14px;
}

h5.item {
	color: #cccccc;
	margin-top: 7px;
	margin-bottom: 7px;
}

h4.paraname {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 14px;
}

.detail.itemlv {
    border: 1px solid #3c3c3c;
	background-color: #141414;
	margin-bottom: 10px !important;
	color: #cccccc;
}

.spawn.detail {
    border-bottom: solid 1px #3c3c3c;
	border-right: solid 1px #3c3c3c;
	border-left: solid 1px #3c3c3c;
    border-top: solid 1px #3c3c3c;
	background-color: #141414;
	margin-bottom: 10px !important;
	color: #bfa34c;
}

TH.intertexting.th {
	padding-left: 8px;
}

table.black.mine {
    border-bottom: solid 1px #3c3c3c;
	border-right: solid 1px #3c3c3c;
	border-left: solid 1px #3c3c3c;
    border-top: solid 1px #3c3c3c;
	width: 100%;
	margin-top: 12px;
}

table.black.mine0 {
    border: 0px;
	width: 100%;
}

TD.intertexting.left {
	border-right: 0px;
	width: 30%;
   padding: 8px;
   padding-left: 12px;
}

TD.intertexting.half.left {
	border-right: 0px;
	width: 50%;
   padding: 8px;
   padding-left: 12px;
}

TD.intertexting.middle {
	border-right: 0px;
	border-left: 0px;
	width: 30%;
   padding: 8px;

}

TD.intertexting.right {
	border-left: 0px;
	width: 70%;
   padding: 8px;
}

TD.intertexting.half.right {
	border-left: 0px;
	width: 50%;
   padding: 8px;
}

TD.intertexting.80 {
	border: 0px;
	width: 80%;
}

TD.intertexting.80duty {
	border: 0px;
	width: 80%;
	padding: 0px;
}

TD.intertexting100 {
    border-bottom: solid 1px #3c3c3c;
	border-right: solid 1px #3c3c3c;
	border-left: solid 1px #3c3c3c;
    border-top: solid 1px #3c3c3c;
	width: 100%;
	padding: 0px;
}

TD.intertexting80ma0 {
	border: 0px;
	width: 80%;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.intertexting.20 {
	border: 1px;
	width: 20%;
	padding: 0px;
}
TD.intertexting20name {
	padding: 10px;
	border: 1px;
	width: 20%;
    border-bottom: solid 1px #3c3c3c;
    border-top: none;
    background: #2e2e2e;
	color: #cccccc;
}

h5.text.sub {
    padding-left:8px;
    padding-right:8px;
    padding-top:5px;
	padding-bottom:5px;
    margin-top: 0px;
	margin-bottom: 6px;
    border-bottom: solid 1px #3c3c3c;
    border-top: none;
    background: #2e2e2e;
	color: #cccccc;
}
h5.text.subs {
    padding-left:8px;
    padding-right:8px;
    padding-top:5px;
	padding-bottom:5px;
    margin-top: 0px;
	margin-bottom: 0px;
    border-bottom: solid 1px #3c3c3c;
    border-top: none;
    background: #2e2e2e;
	color: #cccccc;
}
TD.intertexting100text {
    border-bottom: solid 1px #3c3c3c;
	border-right: solid 1px #3c3c3c;
	border-left: solid 1px #3c3c3c;
    border-top: solid 1px #3c3c3c;
	width: 100%;
	padding: 8px;
    background: #2e2e2e;
	color: #cccccc;
    line-height: 1.5;
}


.text.subsub {
    padding-left:8px;
    padding-right:8px;
    padding-top:5px;
	padding-bottom:5px;
	margin: 0px;
	color: #cccccc;
}

.text.subcenter {
    padding:8px;
	margin: 0px;
	text-align: center;
    border-bottom: solid 1px #3c3c3c;
    border-top: none;
    background: #2e2e2e;
	color: #cccccc;
}

.text.subsubend {
    padding-left:8px;
    padding-right:8px;
    padding-top:5px;
	padding-bottom:15px;
	margin: 0px;
	color: #cccccc;
}

.text.subsubendtext {
    padding-left:8px;
    padding-right:8px;
    padding-top:5px;
	padding-bottom:15px;
	margin: 0px;
	color: #cccccc;
    line-height: 1.5;
}
.black.th.table {
    border-bottom: solid 1px #3c3c3c;
	border-right: solid 1px #3c3c3c;
	border-left: solid 1px #3c3c3c;
    border-top: solid 1px #3c3c3c;
	background: #1F1F1F;
}


.clearfix.item.normaltext {
	color: #cccccc;
	margin-bottom: 10px !important;
	padding-left: 0px;
	padding-right: 0px;
}

.clearfix.item.paddingtext {
	color: #cccccc;
	margin-bottom: 10px !important;
	padding-left: 0px;
	padding-right: 0px;
}

.clearfix.item.paddingtextma0 {
	color: #cccccc;
	margin-bottom: 0px !important;
	padding-left: 0px;
	padding-right: 0px;
}

item.nonpaddingtext {
	color: #cccccc;
	margin-bottom: 10px !important;
	padding-left: 0px;
	padding-right: 0px;
}

.mt0.hr {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: url('../images/line.gif') repeat-x 0 0;
	height: 2px;
	padding-bottom: 3px;
	border-top: 0px solid #eee;
}

.socket {
	width: 24px;
	height: 24px;
	background: url('../images/socket_normal.png') no-repeat;
	float: left;
	padding-left: 15px;
}

.container-fluid.mine {
	padding-left: 0px;
	padding-right: 0px;
}
.input-group .form-control {
	z-index: 0;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 0;
}